/** @format */
body {
	background-image: url("../resources/images/bg-main1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* background-size: 100% 100%; */
	background-size: cover;
}

.fireworks {
	position: fixed;
	width: 100%;
	height: 100%;
}

.rainbowHighlight {
	text-align: center; /* Căn giữa nội dung văn bản trong phần tử chứa lớp này */
	font-size: 32px; /* Kích thước chữ */
	font-family: monospace; /* Phông chữ */
	letter-spacing: 2px; /* Khoảng cách giữa các chữ cái */

	background: linear-gradient(
		90deg,
		rgba(255, 0, 0, 1) 0%,
		rgba(0, 255, 0, 1) 50%,
		rgba(0, 0, 255, 1) 100%
	); /* Hiệu ứng gradient theo chiều ngang */
	-webkit-background-clip: text; /* Cho phép nền gradient chỉ hiển thị trong vùng văn bản, tạo ra hiệu ứng màu sắc sống động cho chữ */
	background-clip: text; /* Cho phép nền gradient chỉ hiển thị trong vùng văn bản, tạo ra hiệu ứng màu sắc sống động cho chữ */
	color: transparent; /* Màu chữ trong suốt */

	animation-name: rainbowHighlightAnimation; /* Tên hoạt ảnh */
	animation-duration: 6s; /* Thời lượng */
	animation-delay: 0s; /* Độ trễ */
	animation-iteration-count: infinite; /* Số lần chạy */
	animation-direction: normal; /* Hướng chạy */
	animation-timing-function: ease; /* Hiệu ứng hoạt ảnh */
	animation-fill-mode: both; /* Style áp dụng khi chạy hoạt ảnh */

	background-size: 300% 100%; /* Kích thước nền gradient */
}

@keyframes rainbowHighlightAnimation {
	0%,
	100% {
		background-position: 0% 0;
	}

	50% {
		background-position: 100% 0;
	}
}
